In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'], 
                    'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 
                    'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 
                    'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})

In [2]:
df['FlightNumber'] = ((df['FlightNumber'].fillna(0) + 10).astype(int))

In [3]:
temp_df= df.From_To.str.split('_',expand = True)
temp_df.columns = ['From','To']

In [4]:
temp_df['From'] = temp_df['From'].str.capitalize()
temp_df['To'] = temp_df['To'].str.capitalize()

In [5]:
df = df.drop(columns='From_To')
df = df.join(temp_df)
df

   FlightNumber  RecentDelays              Airline      From         To
0         10055      [23, 47]               KLM(!)    London      Paris
1            10            []    <Air France> (12)    Madrid      Milan
2         10075  [24, 43, 87]  (British Airways. )    London  Stockholm
3            10          [13]       12. Air France  Budapest      Paris
4         10095      [67, 32]          "Swiss Air"  Brussels     London

In [6]:
split_df = pd.DataFrame(df['RecentDelays'].tolist(), columns=['delay_1', 'delay_2', 'delay_3'])
df = df.drop(columns='RecentDelays')
df = df.join(split_df)

In [7]:
df

,FlightNumber,Airline,From,To,delay_1,delay_2,delay_3
0,10055,KLM(!),London,Paris,23.0,47.0,NaN
1,10,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10075,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10095,"""Swiss Air""",Brussels,London,67.0,32.0,NaN